body {
  font-family: sans-serif;
  background-color: #eceff1;
}
.show-data {
  width: 100%;
  background-color: #cfd8dc;
  margin: 20px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 6px 10px #88888888;
}
.show-data h1 {
  margin: auto;
  padding: 60px;
  width: 60%;
}
.show-data image {
  display: block;
}

show-info {
  width: 100%;
}
@media only screen and (min-width: 800px) {
  [class*="show-data"] {
    display: flex;
  }
  [class*="show-info"] {
    padding: 10px;
  }
}
