body {
  font-family: "Roboto", sans-serif;
  background-color: #eceff1;
}
.show-data {
  width: 100%;
  background-color: #cfd8dc;
  margin: 20px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 6px 10px #88888888;
}
.show-data h1 {
  margin: auto;
  padding: 60px;
  width: 60%;
  text-align: center;
}
.show-data img {
  display: block;
}

.show-info {
  width: 100%;
}
/*What is media query? Help from: https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
@media only screen and (min-width: 800px) {
  .show-data {
    display: flex;
  }
  .show-info {
    padding: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .show-data img {
    margin: auto;
  }
  .show-info p {
    text-align: center;
    padding: 10px;
  }
}
